/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configurações gerais do corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

/* Estilo do cabeçalho */
.navbar {
    background-color: #ff69b4; 
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}

.navbar .logo {
    color: #fff;
    font-size: 1.5rem;
}
.logo img{
    width: 20%;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.nav-links .dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    color: #333;
    border-radius: 0.5rem;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown-menu li {
    padding: 0.5rem 1rem;
}

.dropdown-menu a {
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #ffb6c1; /* Rosa claro */
}


/* Estilo do conteúdo principal */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px); /* Ajusta a altura considerando o cabeçalho e rodapé */
    padding: 2rem;
}

.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container .logo {
    max-width: 100px; /* Ajuste o tamanho da logo conforme necessário */
    margin-bottom: 1rem;
}

.login-container h1 {
    color: #ff66b2; /* Rosa principal */
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #ff66b2; /* Rosa principal */
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #ff3385; /* Tom mais escuro de rosa */
}

/* Estilo do rodapé */
footer {
    background-color: #ff66b2; /* Rosa principal */
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    position: static;
    margin-top: 20px; /* Ajuste o valor conforme necessário */
}